<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>功能1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>这里是功能1</h1>

    <!-- 获取登录用户信息 -->
    <div>
        通过Request获取的当前用户：<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
    </div>
    <div>
    通过sec:authentication获取的当前用户：<span sec:authentication="name"></span>
    </div>

    <!-- 检查用户角色 -->
    <h1>检查用户角色</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        您具有ROLE_ADMIN角色
    </div>
    <div sec:authorize="hasRole('ROLE_TEST')">
        您具有ROLE_TEST角色
    </div>
    <div sec:authorize="hasRole('ROLE_NORMAL')">
        您具有ROLE_NORMAL角色
    </div>

    <!-- 检查用户权限 -->
    <h1>检查用户权限</h1>
    <div sec:authorize="hasAuthority('AUTH_ADMIN')">
        您具有AUTH_ADMIN权限
    </div>
    <div sec:authorize="hasAuthority('AUTH_TEST_1')">
        您具有AUTH_TEST_1权限
    </div>
    <div sec:authorize="hasAuthority('AUTH_NORMAL_1')">
        您具有AUTH_NORMAL_1权限
    </div>
    <div >
        测试：同时拥有AUTH_TEST_1和AUTH_TEST_2两个权限时，才能显示标签内部内容：<span sec:authorize="hasAuthority('AUTH_TEST_1') and hasAuthority('AUTH_TEST_2')">OK</span>
    </div>
    <div>
        测试：拥有AUTH_TEST_1和AUTH_TEST_2其中一个权限时，就能显示标签内部内容：<span sec:authorize="hasAnyAuthority('AUTH_TEST_1','AUTH_TEST_2')">OK</span>
    </div>
    <div>
        测试：如果当前用户没有AUTH_TEST_1或AUTH_TEST_2权限时，才能显示标签内部内容：<span sec:authorize="!hasAnyAuthority('AUTH_TEST_1','AUTH_TEST_2')">OK</span>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销"/>
    </form>
    <p><a th:href="@{/}">返回首页</a></p>
</body>
</html>